<html>
<head>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    .topbar{
  padding-left: 40px;
  padding-right: 40px;
}
.desc, .feed, .top{
  padding: 10px;
  margin-top: 40px !important;
  border-radius: 2px;
  margin: 10px;
}
.desc{
  margin-left: 20px !important;
}

  </style>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=465955340274789";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>



<nav>
  <div class="nav-wrapper topbar blue darken-2">
    <a href="#!" class="brand-logo">Blogomania</a>
    <ul class="right hide-on-med-and-down">
      <li><a>
        <form action="/{{ pk }}/" method="POST">
        {% csrf_token %}
        {{ logout_form }}
        <input type="submit" value="Logout" id="logout"/>
        </form></a>
      </li>
<!--       <li><a href="#modal1" class="modal-trigger">Login</a></li>
 -->      <li><a href="http://cognizance.org.in/" target="_blank">Visit Cognizance</a></li>
      <!-- Dropdown Trigger -->
      <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
    </ul>
  </div>
</nav>








  <div class="row">
    <div class="col s3 desc grey lighten-4 z-depth-1">Digital India Project is one of the most important and talked about initiatives of the Indian Government. Implementing and working on such a huge project is a strenuous task. So put on your thinking hats and list down all the problems, whether it be infrastructural or administrative, that may hinder accomplishing goals of DIP (Digital India Project) and also as a responsible citizen of our country how can we contribute towards its success, keeping in mind what it holds within for our country in a long term phase.
</div>
    <div class="col s5 feed z-depth-1">
      <div class="fb-page" data-href="https://www.facebook.com/Blogomania-1727748890806283" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
    <div class="col s3 top grey lighten-4">

{% if user_exsist == 0 %}
<form action="/saveblog/" method="POST">
  {% csrf_token %}
  {{ blog_form }}
<input type="submit" value="Post" id="publish"/>
</form>
{% else %}
 {% for entry in x %}
<p>{{ entry.cog_id }}</p>
<h4>{{ entry.title }}<h4>
<p>{{ entry.text }}</p>
{% endfor %}
{% endif %}
    </div>
  </div>




</body>
</html>
